@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


body {
    background-color: #D6E0DA;
    font-family: 'Oswald', sans-serif;
}

#card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cssCard {
    
}